
header :first-child{
    width: auto;
    height: auto;
}
header :nth-child(2){
    width: auto;
    height: auto;
    float: right; 
    /* margin-top: 5px; */
}
nav{
    margin: 10px;
    border: gray solid 2px;
    background-color: gray;
}
main :first-child{
   margin-top: 15px;
    color: black;
    font-size: larger;
}
main :nth-child(2)
{
  
    color: rgba(133, 129, 129, 0.363);
    font-size: small;
}
main :nth-child(3)
{
   
    color: rgba(133, 129, 129, 0.363);
    font-size: medium;
    float: right;
}
main :nth-child(4)
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}
main p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align:justify;
    padding: 25px;
}

  hr{
    border: gray solid 2px;
    background-color: gray; 
  }
  
  main :nth-child(9){
    width: 50px;
    height: 50px;
    display: block;
    margin-left: 500px;
    padding: 25px;
  }
  main :nth-child(10){
    
    margin-left: 600px;
    padding: 25px;
  position: relative;
 top: -100px;
   
  }

  main :nth-child(11){
    
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    position: relative;
    top: -120px;
    left: 290px;
    color: white;
    background-color: red;
  }
  main :nth-child(12){
    
    margin-left: 600px;
    padding: 25px;
  position: relative;
 top: -130px;
 color: gainsboro;
   
  }
  footer h2 {
      text-align: center;
      color: gainsboro;
      position: relative;
    top:-130px ;
  }
  #logo {
  width: 200px;
  margin: 0 auto;
  padding: 40px;
    position: relative; 
  }
  
  #logo img {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    top:-130px ;
    left: 80px;
    
  }
  
 
  footer:after {
    content: '';
    display: block;
    width: 85%;
    height: 1px;
    background: rgb(22, 20, 20);
    margin-top: -200px;
    position: relative;
    left: 120px;

}